{% extends 'user_account/user_base.html' %}

{% load crispy_forms_tags %}


{% block content %}

            <!--- SideBar Content----> 
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">akomShop Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>


			<!--<div class="row">-->
			 <!-- <div class="col-sm-6">-->
			
			   	 <div class="card">
			      <div class="card card-body">
						<form action="" method="POST">
							   <div class="box-element " id="payment-info">
						       <div class="form-field">
							{% csrf_token %}
							{{formset}}
							<br>
							<hr>
							{{form|crispy}}
							
							<input class="btn btn-success " type="submit" name="confirm">
					      </div>
							
						</div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>



	

<!--
<hr>
  <div class="row">
    <div class="col-lg-6" >
      <div class="box-element" id="form-wrapper">
        <form id="form">
          <div id="user-info">
            <div class="form-field">
              <input required class="form-control" type="text" name="name" placeholder="Name..">
            </div>
            <div class="form-field">
              <input required class="form-control" type="email" name="email" placeholder="Email..">
            </div>
            
          </div>
          <div id="shipping-info">
            <hr>
            <p>Shipping Information:</p>
            <hr>
            <div class="form-field">
              <input class="form-control" type="text" name="address" placeholder="Address..">
            </div>
            <div class="form-field">
              <input class="form-control" type="text" name="city" placeholder="City..">
            </div>
            <div class="form-field">
              <input class="form-control" type="text" name="state" placeholder="State..">
            </div>
            <div class="form-field">
              <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
            </div>
            <div class="form-field">
              <input class="form-control" type="text" name="country" placeholder="Zip code..">
            </div>
            
          </div>

          <hr>
          <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
        </form>
      </div>
      <br>
      <div class="box-element hidden" id="payment-info">
        <small>Payment Options</small>
        <button id="make-payment" class="btn btn-success">Make Payment</button>
      </div>

      
    </div>

    <div class="col-lg-6">
      <div class="box-element">
          <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
          <hr>
          <h3>Order Summary </h3>
          <hr>
          {% for item in items %}
                <div class="cart-row">

                  <div style="flex: 2"> <img class="row-image" src="{{item.product.imageURL}}"></div>
                  <div style="flex: 2"><p>{{item.product.name}}</p></div>
                  <div style="flex: 1"><p> &#8358;{{item.product.price|floatformat:2}}</p></div>
                  <div style="flex: 1"><p> x{{item.quantity}}</p> </div>
                </div>
            {% endfor %}
              <h3>Items: {{order.get_cart_items}}</h3>
              <h3>Total: &#8358;{{order.get_cart_total|floatformat:2}} </h3>   
      </div>  
    </div> 
  </div>

  

  <script type="text/javascript">
    // logic to hid shipping info on digital product
    var shipping = '{{order.shipping}}'
    var total = '{{order.get_cart_total|floatformat:2}}'
    if (shipping=='False') {
      document.getElementById('shipping-info').innerHTML=''


    }

    // hide the user Name and Email wrapper is user is logged in 

    if (user != 'AnonymousUser'){
      document.getElementById('user-info').innerHTML=''
    }

    if (shipping == 'False' && user != 'AnonymousUser'){
      //hide enter form if user loged in
      document.getElementById('form-wrapper').classList.add('hidden')
      // show payment 
      document.getElementById('payment-info').classList.remove('hidden')
    }


    // logic to show the payment option on form submition 
    var form = document.getElementById('form')

    form.addEventListener('submit', function(e){
      e.preventDefault()// this is to prevent the form from submiting, e is passed into the fuction. 
      console.log('form submitted...')

      document.getElementById('form-button').classList.add('hidden')
      document.getElementById('payment-info').classList.remove('hidden')

    })
    document.getElementById('make-payment').addEventListener('click', function(e){
      submitFormData()
    })
    function submitFormData(){
      console.log('Payment Button Clicked')

      var userFormData = {
        'name': null,
        'email':null,
        'total': total,

      }

        var shippingInfo = {
        'address': null,
        'city':null,
        'state': null,
        'zipcode': null,
      }

      if (shipping != 'False'){
        shippingInfo.address = form.address.value
        shippingInfo.city = form.city.value
        shippingInfo.state = form.state.value
        shippingInfo.zipcode = form.zipcode.value
      }

      if(user == 'AnonymousUser'){
        userFormData.name = form.name.value
        userFormData.email = form.name.email
      }
      var url = '/process_order/'
      fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken':csrftoken, 
        },

        body:JSON.stringify({'form':userFormData, 'shipping': shippingInfo})
      })
      .then((response) => response.json())
      .then((data) =>  {
        console.log('Success:', data)
        alert('transaction completed')
        window.location.href = "{% url 'store' %}"
      })
    }

  </script>
  
--->



{% endblock %}