{% extends 'base.html' %}
{% load static%}


{% block content %}


<div class="container">
<h1>Checkout</h1>
<h5>order summary</h5>
<hr>
<table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Qty</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
  {% for item in items %}
    <tr>
      <th scope="row"><img src="{{item.product.imageURL}}"></th>
      <td>{{item.product.name}}</td>
      <td>NGN {{item.product.price|floatformat:2}}</td>
      <td>{{item.quantity}}</td>
      <td>NGN {{item.get_total|floatformat:2}}</td>
    </tr>
   {% endfor %}
 </tbody>
</table>
<h3>Items: {{order.get_cart_items}}</h3>
<h3>Total: NGN {{order.get_cart_total|floatformat:2}} </h3>
</div>



{% endblock %}